<div id="main">

    <div id="container-1" class="container">

        <ng-container *ngTemplateOutlet="leftNavbar"></ng-container>

        <div id="container-2" class="container">
            <ng-container *ngTemplateOutlet="toolbar"></ng-container>
           
            <div id="container-3" class="container" fusePerfectScrollbar
                 [fusePerfectScrollbarOptions]="{suppressScrollX: true, updateOnRouteChange : true}">
                <!-- CONTENT -->
                <content></content>
                <!-- / CONTENT -->
                <ng-container *ngTemplateOutlet="footer"></ng-container>
            </div>
            
        </div>

    </div>

</div>


<!-- QUICK PANEL -->
<fuse-sidebar name="quickPanel" position="right" class="quick-panel">
    <quick-panel></quick-panel>
</fuse-sidebar>
<!-- / QUICK PANEL -->

<!-- TOOLBAR -->
<ng-template #toolbar>
    <toolbar *ngIf="!fuseConfig.layout.toolbar.hidden" ngClass="below-static ng-star-inserted">
    </toolbar>
</ng-template>
<!-- / TOOLBAR -->

<!-- FOOTER -->
<ng-template #footer>
    <footer *ngIf="!fuseConfig.layout.footer.hidden"
         class="ng-star-inserted below-fixed fuse-navy-900"></footer>
</ng-template>
<!-- / FOOTER -->

<!-- LEFT NAVBAR -->
<ng-template #leftNavbar>
    <fuse-sidebar name="navbar" class="navbar-fuse-sidebar"
                  lockedOpen="gt-md"
                  *ngIf="!fuseConfig.layout.navbar.hidden">
        <navbar  class="left-navbar"></navbar>
    </fuse-sidebar>
</ng-template>
<!-- / LEFT NAVBAR -->