<table class="table table-striped table-bordered">
    <tbody>
        <tr *ngFor="let field of dynamicArray; let i = index">
            <!-- <td>
                <input [(ngModel)]="field.title1" class="form-control" type="text" name="{{field.title1}}" />
            </td> -->
            <td>
                <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="column">
                    <div class="p-24 mr-24" fxLayout="column" fxFlex="1 0 auto" >
                        <div fxLayout="row wrap" fxFlex="1 0 auto" >
                            
                                <div fxFlex="40" class="pl-4" appearance="outline">
                                    <mat-label>Marker Position</mat-label>
                                    <input matInput [disabled]="true" value="{{ loc.position }}" name="position" type="text">
                                </div>
                                <div fxFlex="40" class="pl-4" appearance="outline" >
                                    <mat-label>Choisis votre libelle</mat-label>
                                    <select (change)="onChange($event.target.value, $event.target.id)" id="{{ i }}"   matNativeControl required #ref>
                                        <option value="" selected></option>
                                        <option value="travaille">Travaille</option>
                                        <option value="test">test</option>
                                    </select>
                                </div>
                            
                            
                                <div>
                                    <button type="submit" (click)="deleteRow(i)" mat-raised-button mat-icon-button class="secondary-text" aria-label="Palette">
                                        <mat-icon aria-hidden="false">delete</mat-icon>
                                    </button>
                                </div>

                            

                        
                        </div>    

                    </div>

                </div>
            </td>


        </tr>
 
    </tbody>
</table>