<h2 mat-dialog-title>Créer votre compte</h2>
<mat-dialog-content>
    <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon >directions_car</mat-icon>
            Locataire
          </ng-template>
          <locataire-register #locataire></locataire-register>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>account_circle</mat-icon>
            Propriétaire
          </ng-template>
          <proprio-register></proprio-register>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Annuler</button>
  <button mat-button type="submit" (click)="onSubmit()" mat-dialog-close [disabled]="false" cdkFocusInitial>Créer le compte</button>
</mat-dialog-actions>