<mat-table #table [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let user">
            <mat-checkbox [(ngModel)]="checkboxes[user._id]" (ngModelChange)="onSelectedChange(user._id)"
                          (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <!-- Avatar Column -->
    <ng-container matColumnDef="Avatar">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let user">
            <img class="avatar" *ngIf="user.avatar" [alt]="user.nom"
                 [src]="user.avatar"/>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Nom">
        <mat-header-cell *matHeaderCellDef>Nom Complet</mat-header-cell>
        <mat-cell *matCellDef="let user">
            <p class="text-truncate font-weight-600">{{user.nom}} {{user.prenom}}</p>
        </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="Email">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Email</mat-header-cell>
        <mat-cell *matCellDef="let user" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{user.email}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="Numéro">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Téléphone</mat-header-cell>
        <mat-cell *matCellDef="let user" fxHide fxShow.gt-md>
            <p class="phone text-truncate">
                {{user.phone}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="Etat">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Etat</mat-header-cell>
        <mat-cell *matCellDef="let user" fxHide fxShow.gt-md>
                <mat-icon *ngIf="user.isBanned" style="color: darkred">block</mat-icon>
                <mat-icon *ngIf="!user.isBanned" style="color: darkgreen">done_outline</mat-icon>
        </mat-cell>
    </ng-container>

    <!-- Buttons Column -->
    <ng-container matColumnDef="Buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let user">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>
                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="remove" (click)="deleteUser(user)">
                        <mat-icon>delete</mat-icon>
                        <span>Remove</span>
                    </button>
                </mat-menu>
            </div>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let user; columns: displayedColumns;"
             class="User"
             (click)="editUser(user)"
             [ngClass]="{'accent-50':checkboxes[user._id]}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>


