<div class="sidebar-content">

    <div class="card">

        <!-- SIDEBAR CONTENT -->
        <div class="content py-16" fusePerfectScrollbar>

            <div class="nav material2">

                <div class="nav-item" aria-label="inbox">
                    <a class="nav-link" matRipple (click)="changeFilter('all')"
                       [ngClass]="{'active accent':filterBy ==='all'}">
                        <span class="title">Toutes les reservations de mes places</span>
                    </a>
                </div>

                <div class="nav-item" (click)="changeFilter('En attente')">
                    <a class="nav-link" matRipple [ngClass]="{'active accent':filterBy ==='En attente'}">
                        <div class="title">En attente de confirmation</div>
                    </a>
                </div>

                <div class="nav-item" (click)="changeFilter('Confirmé')">
                    <a class="nav-link" matRipple [ngClass]="{'active accent':filterBy ==='Confirmé'}">
                        <div class="title">Confirmé seulement</div>
                    </a>
                </div>
                <div class="nav-item" (click)="changeFilter('En cours')">
                    <a class="nav-link" matRipple [ngClass]="{'active accent':filterBy ==='En cours'}">
                        <div class="title">En cours</div>
                    </a>
                </div>
                
            </div>

        </div>

    </div>

</div>
<!-- / SIDEBAR CONTENT -->
