<!-- CONTENT -->
<div class="content p-24"  >

        <div class="cards">

            <div class="card" *ngFor="let place of places"  id="{{place.id}}"  >

                <!-- PREVIEW -->
                <div class="card-preview" id="{{place.id}}" >

                    <div class="fuse-card">
                        <div class="p-16" fxLayout="row" fxLayoutAlign="start center">
                            <img class="w-40 h-40 border-radius-100" src="assets/images/avatars/Christy.jpg">

                            <div class="ml-16">
                                <div class="text-bold">{{ place.locataire.nom }}</div>
                            </div>
                        </div>

                        <!-- carousel (images) !!! -->
                        <img src="assets/places/place1.jpeg">

                        <div class="p-16">
                            <div class="h1">{{ place.numero }}</div>
                            <div class="h4 secondary-text">{{ place.localisation.ville }}</div>
                        </div>
                        
                        <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="space-between center">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <button mat-raised-button color="accent">
                                    <mat-icon>add_circle_outline</mat-icon>
                                    
                                </button>
                                &nbsp;
                                <button (click)="moreInfo(place.id)" mat-raised-button color="accent">
                                    <mat-icon>more_horiz</mat-icon>
                                </button>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- / PREVIEW -->
        
            </div>

        </div>

</div>
<!-- / CONTENT -->
