<h2 mat-dialog-title>Login</h2>
<mat-dialog-content>
    
<div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">

    <form #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)" class="p-24 mr-24" fxLayout="column" fxLayoutAlign="start"
            fxFlex="1 0 auto" name="form" [formGroup]="form">

      <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required>
          <mat-icon matSuffix class="secondary-text">email</mat-icon>
          <mat-error>Email est Requis!</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required>
          <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
          <mat-error>Password est Requis!</mat-error>
      </mat-form-field>


      <button mat-raised-button type="submit" [disabled]="false" (click)="onSubmit()" color="accent">
        Login
      </button>

    </form>

</div>

</mat-dialog-content>