<mat-sidenav-container>

<div id="places" class="page-layout simple fullwidth">
    
    <!-- HEADER -->
    <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="sidebar-toggle mr-12" fxHide.gt-sm
                    (click)="toggleSidebar('users-main-sidebar')">
                <mat-icon>menu</mat-icon>
            </button>

            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">account_box</mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Places
                </span>
            </div>

        </div>
        <!-- / APP TITLE -->

        <!-- SEARCH -->
        <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>

            <div class="search-wrapper mt-16 mt-sm-0">

                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input [formControl]="searchInput" placeholder="rechercher">
                </div>

                <!-- TOOLBAR -->
                <div class="toolbar" fxLayout="row" fxLayoutAlign="space-between center" fxFlexOrder="3">

                    <!-- BOARD SETTINGS BUTTON -->
                    <button mat-icon-button (click)="settingsSidenav.toggle()"
                            aria-label="Settings" matTooltip="Settings">
                        <mat-icon>settings</mat-icon>
                    </button>
                    <!-- / BOARD SETTINGS BUTTON -->
                </div>
                <!-- / TOOLBAR -->

            </div>

        </div>
        <!-- / SEARCH -->

    </div>
    <!-- / HEADER -->

    <app-places-list [places]="filteredPlaces$.value" ></app-places-list>

    <div class="simple-pagination" *ngIf="pager.pages && pager.pages.length" >

        <button [ngClass]="{disabled:pager.currentPage === 1}" mat-button class="pagination-item active"  mat-button class="pagination-item disabled" 
                aria-label="Go to previous page">
            <mat-icon>chevron_left</mat-icon>
        </button>

        <div *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" >
            <button class="pagination-item" (click)="setPage(page)"  mat-button >
                <span>{{page}}</span>
            </button>
        </div>

        <button mat-button class="pagination-item" aria-label="Go to next page" (click)="setPage(pager.currentPage + 1)" >
            <mat-icon>chevron_right</mat-icon>
        </button>

    </div>

</div>


    <mat-sidenav #settingsSidenav position="end">
        <custom-search 
            *ngIf="sidenav.opened"
            (onCustomSearch)="customSearch($event)"
        ></custom-search>
    </mat-sidenav>


</mat-sidenav-container>