@mixin ui-cards-theme($theme) {

    $foreground: map-get($theme, foreground);

    docs-components-cards {

        .content {

            &.source {

                .cards {

                    .card {
                        border-bottom-color: map-get($foreground, divider);
                    }
                }
            }
        }
    }
}


@mixin places($theme) {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $accent: map-get($theme, accent);
    $is-dark: map-get($theme, is-dark);

    #places {

        .header {

            .search-wrapper {
                background: map-get($background, card);

                .search {

                    .mat-icon {
                        color: map-get($foreground, icon);
                    }

                    input {
                        background: map-get($background, card);
                        color: map-get($foreground, text);
                    }
                }
            }
        }

    }

}
